[project]
	description = ????? ??? ????? ??? ??????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/draokweil
[access "refs/for/refs/*"]
	read = group user/draokweil
	push = group user/draokweil
	label-Code-Review = -2..+2 group user/draokweil
	label-Verified = -1..+1 group user/draokweil
	rebase = group user/draokweil
	removeReviewer = group user/draokweil
	submit = group user/draokweil
[access "refs/heads/*"]
	read = group user/draokweil
	create = group user/draokweil
	push = +force group user/draokweil
	pushMerge = group user/draokweil
[access "refs/tags/*"]
	push = +force group user/draokweil
	pushTag = group user/draokweil
	pushSignedTag = group user/draokweil
